.inputFilter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgb(210, 190, 111);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    margin-bottom: 50px;
}